/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$s_arrow_next_name = 's-arrow-next';
$s_arrow_next_x = 184px;
$s_arrow_next_y = 206px;
$s_arrow_next_offset_x = -184px;
$s_arrow_next_offset_y = -206px;
$s_arrow_next_width = 27px;
$s_arrow_next_height = 39px;
$s_arrow_next_total_width = 528px;
$s_arrow_next_total_height = 443px;
$s_arrow_next_image = 'sprite.png';
$s_arrow_next = 184px 206px -184px -206px 27px 39px 528px 443px 'sprite.png' 's-arrow-next';
$s_arrow_prew_name = 's-arrow-prew';
$s_arrow_prew_x = 157px;
$s_arrow_prew_y = 206px;
$s_arrow_prew_offset_x = -157px;
$s_arrow_prew_offset_y = -206px;
$s_arrow_prew_width = 27px;
$s_arrow_prew_height = 39px;
$s_arrow_prew_total_width = 528px;
$s_arrow_prew_total_height = 443px;
$s_arrow_prew_image = 'sprite.png';
$s_arrow_prew = 157px 206px -157px -206px 27px 39px 528px 443px 'sprite.png' 's-arrow-prew';
$s_drop_name = 's-drop';
$s_drop_x = 511px;
$s_drop_y = 157px;
$s_drop_offset_x = -511px;
$s_drop_offset_y = -157px;
$s_drop_width = 12px;
$s_drop_height = 8px;
$s_drop_total_width = 528px;
$s_drop_total_height = 443px;
$s_drop_image = 'sprite.png';
$s_drop = 511px 157px -511px -157px 12px 8px 528px 443px 'sprite.png' 's-drop';
$s_facebook_name = 's-facebook';
$s_facebook_x = 157px;
$s_facebook_y = 129px;
$s_facebook_offset_x = -157px;
$s_facebook_offset_y = -129px;
$s_facebook_width = 41px;
$s_facebook_height = 42px;
$s_facebook_total_width = 528px;
$s_facebook_total_height = 443px;
$s_facebook_image = 'sprite.png';
$s_facebook = 157px 129px -157px -129px 41px 42px 528px 443px 'sprite.png' 's-facebook';
$s_h_1_name = 's-h-1';
$s_h_1_x = 0px;
$s_h_1_y = 129px;
$s_h_1_offset_x = 0px;
$s_h_1_offset_y = -129px;
$s_h_1_width = 157px;
$s_h_1_height = 157px;
$s_h_1_total_width = 528px;
$s_h_1_total_height = 443px;
$s_h_1_image = 'sprite.png';
$s_h_1 = 0px 129px 0px -129px 157px 157px 528px 443px 'sprite.png' 's-h-1';
$s_h_2_name = 's-h-2';
$s_h_2_x = 214px;
$s_h_2_y = 0px;
$s_h_2_offset_x = -214px;
$s_h_2_offset_y = 0px;
$s_h_2_width = 157px;
$s_h_2_height = 157px;
$s_h_2_total_width = 528px;
$s_h_2_total_height = 443px;
$s_h_2_image = 'sprite.png';
$s_h_2 = 214px 0px -214px 0px 157px 157px 528px 443px 'sprite.png' 's-h-2';
$s_h_3_name = 's-h-3';
$s_h_3_x = 371px;
$s_h_3_y = 0px;
$s_h_3_offset_x = -371px;
$s_h_3_offset_y = 0px;
$s_h_3_width = 157px;
$s_h_3_height = 157px;
$s_h_3_total_width = 528px;
$s_h_3_total_height = 443px;
$s_h_3_image = 'sprite.png';
$s_h_3 = 371px 0px -371px 0px 157px 157px 528px 443px 'sprite.png' 's-h-3';
$s_h_4_name = 's-h-4';
$s_h_4_x = 0px;
$s_h_4_y = 286px;
$s_h_4_offset_x = 0px;
$s_h_4_offset_y = -286px;
$s_h_4_width = 157px;
$s_h_4_height = 157px;
$s_h_4_total_width = 528px;
$s_h_4_total_height = 443px;
$s_h_4_image = 'sprite.png';
$s_h_4 = 0px 286px 0px -286px 157px 157px 528px 443px 'sprite.png' 's-h-4';
$s_h_5_name = 's-h-5';
$s_h_5_x = 157px;
$s_h_5_y = 286px;
$s_h_5_offset_x = -157px;
$s_h_5_offset_y = -286px;
$s_h_5_width = 157px;
$s_h_5_height = 157px;
$s_h_5_total_width = 528px;
$s_h_5_total_height = 443px;
$s_h_5_image = 'sprite.png';
$s_h_5 = 157px 286px -157px -286px 157px 157px 528px 443px 'sprite.png' 's-h-5';
$s_h_array_name = 's-h-array';
$s_h_array_x = 157px;
$s_h_array_y = 171px;
$s_h_array_offset_x = -157px;
$s_h_array_offset_y = -171px;
$s_h_array_width = 48px;
$s_h_array_height = 35px;
$s_h_array_total_width = 528px;
$s_h_array_total_height = 443px;
$s_h_array_image = 'sprite.png';
$s_h_array = 157px 171px -157px -171px 48px 35px 528px 443px 'sprite.png' 's-h-array';
$s_intagram_name = 's-intagram';
$s_intagram_x = 272px;
$s_intagram_y = 217px;
$s_intagram_offset_x = -272px;
$s_intagram_offset_y = -217px;
$s_intagram_width = 41px;
$s_intagram_height = 42px;
$s_intagram_total_width = 528px;
$s_intagram_total_height = 443px;
$s_intagram_image = 'sprite.png';
$s_intagram = 272px 217px -272px -217px 41px 42px 528px 443px 'sprite.png' 's-intagram';
$s_logo_header_name = 's-logo_header';
$s_logo_header_x = 371px;
$s_logo_header_y = 157px;
$s_logo_header_offset_x = -371px;
$s_logo_header_offset_y = -157px;
$s_logo_header_width = 140px;
$s_logo_header_height = 37px;
$s_logo_header_total_width = 528px;
$s_logo_header_total_height = 443px;
$s_logo_header_image = 'sprite.png';
$s_logo_header = 371px 157px -371px -157px 140px 37px 528px 443px 'sprite.png' 's-logo_header';
$s_s_1_name = 's-s-1';
$s_s_1_x = 279px;
$s_s_1_y = 157px;
$s_s_1_offset_x = -279px;
$s_s_1_offset_y = -157px;
$s_s_1_width = 90px;
$s_s_1_height = 43px;
$s_s_1_total_width = 528px;
$s_s_1_total_height = 443px;
$s_s_1_image = 'sprite.png';
$s_s_1 = 279px 157px -279px -157px 90px 43px 528px 443px 'sprite.png' 's-s-1';
$s_s_2_name = 's-s-2';
$s_s_2_x = 439px;
$s_s_2_y = 194px;
$s_s_2_offset_x = -439px;
$s_s_2_offset_y = -194px;
$s_s_2_width = 68px;
$s_s_2_height = 61px;
$s_s_2_total_width = 528px;
$s_s_2_total_height = 443px;
$s_s_2_image = 'sprite.png';
$s_s_2 = 439px 194px -439px -194px 68px 61px 528px 443px 'sprite.png' 's-s-2';
$s_s_3_name = 's-s-3';
$s_s_3_x = 371px;
$s_s_3_y = 194px;
$s_s_3_offset_x = -371px;
$s_s_3_offset_y = -194px;
$s_s_3_width = 68px;
$s_s_3_height = 68px;
$s_s_3_total_width = 528px;
$s_s_3_total_height = 443px;
$s_s_3_image = 'sprite.png';
$s_s_3 = 371px 194px -371px -194px 68px 68px 528px 443px 'sprite.png' 's-s-3';
$s_s_4_name = 's-s-4';
$s_s_4_x = 214px;
$s_s_4_y = 157px;
$s_s_4_offset_x = -214px;
$s_s_4_offset_y = -157px;
$s_s_4_width = 65px;
$s_s_4_height = 60px;
$s_s_4_total_width = 528px;
$s_s_4_total_height = 443px;
$s_s_4_image = 'sprite.png';
$s_s_4 = 214px 157px -214px -157px 65px 60px 528px 443px 'sprite.png' 's-s-4';
$s_s_5_name = 's-s-5';
$s_s_5_x = 214px;
$s_s_5_y = 217px;
$s_s_5_offset_x = -214px;
$s_s_5_offset_y = -217px;
$s_s_5_width = 58px;
$s_s_5_height = 58px;
$s_s_5_total_width = 528px;
$s_s_5_total_height = 443px;
$s_s_5_image = 'sprite.png';
$s_s_5 = 214px 217px -214px -217px 58px 58px 528px 443px 'sprite.png' 's-s-5';
$s_section_1_name = 's-section-1';
$s_section_1_x = 314px;
$s_section_1_y = 286px;
$s_section_1_offset_x = -314px;
$s_section_1_offset_y = -286px;
$s_section_1_width = 177px;
$s_section_1_height = 103px;
$s_section_1_total_width = 528px;
$s_section_1_total_height = 443px;
$s_section_1_image = 'sprite.png';
$s_section_1 = 314px 286px -314px -286px 177px 103px 528px 443px 'sprite.png' 's-section-1';
$s_section_2_name = 's-section-2';
$s_section_2_x = 0px;
$s_section_2_y = 0px;
$s_section_2_offset_x = 0px;
$s_section_2_offset_y = 0px;
$s_section_2_width = 214px;
$s_section_2_height = 129px;
$s_section_2_total_width = 528px;
$s_section_2_total_height = 443px;
$s_section_2_image = 'sprite.png';
$s_section_2 = 0px 0px 0px 0px 214px 129px 528px 443px 'sprite.png' 's-section-2';
$s_vk_name = 's-vk';
$s_vk_x = 313px;
$s_vk_y = 217px;
$s_vk_offset_x = -313px;
$s_vk_offset_y = -217px;
$s_vk_width = 41px;
$s_vk_height = 42px;
$s_vk_total_width = 528px;
$s_vk_total_height = 443px;
$s_vk_image = 'sprite.png';
$s_vk = 313px 217px -313px -217px 41px 42px 528px 443px 'sprite.png' 's-vk';
$spritesheet_width = 528px;
$spritesheet_height = 443px;
$spritesheet_image = 'sprite.png';
$spritesheet_sprites = $s_arrow_next $s_arrow_prew $s_drop $s_facebook $s_h_1 $s_h_2 $s_h_3 $s_h_4 $s_h_5 $s_h_array $s_intagram $s_logo_header $s_s_1 $s_s_2 $s_s_3 $s_s_4 $s_s_5 $s_section_1 $s_section_2 $s_vk;
$spritesheet = 528px 443px 'sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
