extends ../base/layout

block header
  include ../blocks/header
block main
  main.grid
    include ../blocks/top-baner
    include ../blocks/section-2
    include ../blocks/work
    include ../blocks/section-4
    include ../blocks/team
    include ../blocks/section-6
    include ../blocks/form

  include ../blocks/footer

block scripts
  include ../base/scripts