.challenges
  h2.h2.challenges--heading.__white(data-aos="zoom-in" data-aos-delay="50" data-aos-duration="500") Addressing Your Business Challenges
  hr(data-aos="zoom-out" data-aos-delay="50" data-aos-duration="500")
  p.challenges--description.__white(data-aos="zoom-in" data-aos-delay="550" data-aos-duration="500") Using a combination of cross-domain expertise as well as machine- and deep-learning skills, Oxagile applies computer vision to offer innovative solutions and crack complex business cases. 