section.section-2.amenities#amenities
  h2.h2.amenities--heading(data-aos="zoom-in" data-aos-delay="50" data-aos-duration="500") наши услуги
  p.amenities--description(data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="550" data-aos-duration="500") The team’s technical excellence takes you halfway to success. At Oxagile, we understand that a solid grasp of your business domain is equally critical.
  .container
    .amenities--tabs__pseudo(data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="1050" data-aos-duration="500")
      .amenities--tabs--item
        .sprite.amenities--tabs--item__s1
        p 
          | Computer
          br
          | Vision        
      .amenities--tabs--item
        .sprite.amenities--tabs--item__s2
        p 
          | Machine
          br
          | learning         
      .amenities--tabs--item
        .sprite.amenities--tabs--item__s3
        p 
          | Communication 
          br
          | Systems  
      .amenities--tabs--item
        .sprite.amenities--tabs--item__s4
        p 
          | Robotics      
      .amenities--tabs--item
        .sprite.amenities--tabs--item__s5
        p 
          | Electronics 
      .amenities--tabs--item
        .sprite.amenities--tabs--item__s1
        p 
          |lorem
          br
          | ipsum      
      

    .amenities--tabs(data-aos="fade" data-aos-anchor-placement="top-bottom" data-aos-delay="1550" data-aos-duration="500")
      ul.amenities--tabs--list
        li.amenities--tabs--item
          a(href='#amenitiesTab-1') #amenitiesTab-1
        li.amenities--tabs--item
          a(href='#amenitiesTab-2') #amenitiesTab-2
        li.amenities--tabs--item
          a(href='#amenitiesTab-3') #amenitiesTab-3
        li.amenities--tabs--item
          a(href='#amenitiesTab-4') #amenitiesTab-4
        li.amenities--tabs--item
          a(href='#amenitiesTab-5') #amenitiesTab-5
        li.amenities--tabs--item
          a(href='#amenitiesTab-6') #amenitiesTab-6
      .amenities--tab#amenitiesTab-1
        h3.h3 Automate Healthcare Workflows and Expand Your Reach with Digital
        p We offer software development services that help doctors distribute more personalized care to individuals and influence the lifestyle of entire communities. Oxagile has already built solutions used in practice management, patient engagement, rehabilitation, immunization, and more.
        h3.h3 Key Service Offering
        ul
          li
            | Virtual and Augmented Reality solutions
          li
            | Patient engagement solutions
          li
            | EHR and EMR systems
          li
            | Telehealth solutions
          li
            | Population health management
          li
            | Laboratory information systems
      .amenities--tab#amenitiesTab-2
        h3.h3 222222222222222222222222222222222222222222222222222222222222222222222222222222222
        p 222222222222222222222222222222222222222222222222222222222222222222222222222222222
        h3.h3 222222222222222222222222222222222222222222222222222222222222222222222222222222222
        ul
          li
            | Virtual and Augmented Reality solutions
          li
            | Patient engagement solutions
          li
            | EHR and EMR systems
          li
            | Telehealth solutions
          li
            | Population health management
          li
            | Laboratory information systems
      .amenities--tab#amenitiesTab-3
        h3.h3 Automate Healthcare Workflows and Expand Your Reach with Digital
        p We offer software development services that help doctors distribute more personalized care to individuals and influence the lifestyle of entire communities. Oxagile has already built solutions used in practice management, patient engagement, rehabilitation, immunization, and more.
        h3.h3 Key Service Offering
        ul
          li
            | 3333333333333333333333
          li
            | 3333333333333333333333
          li
            | 3333333333333333333333
          li
            | 3333333333333333333333
          li
            | 3333333333333333333333
          li
            | 3333333333333333333333
      .amenities--tab#amenitiesTab-4
        h3.h3 Automate Healthcare Workflows and Expand Your Reach with Digital
        p We offer software development services that help doctors distribute more personalized care to individuals and influence the lifestyle of entire communities. Oxagile has already built solutions used in practice management, patient engagement, rehabilitation, immunization, and more.
        h3.h3 Key Service Offering
        ul
          li
            | 4444444444444444444444444444
          li
            | 4444444444444444444444444444
          li
            | 4444444444444444444444444444
          li
            | 4444444444444444444444444444
          li
            | 4444444444444444444444444444
          li
            | 4444444444444444444444444444
      .amenities--tab#amenitiesTab-5
        h3.h3 Automate Healthcare Workflows and Expand Your Reach with Digital
        p We offer software development services that help doctors distribute more personalized care to individuals and influence the lifestyle of entire communities. Oxagile has already built solutions used in practice management, patient engagement, rehabilitation, immunization, and more.
        h3.h3 Key Service Offering
        ul
          li
            | 555555555555 5555
          li
            | 555555555555 5555
          li
            | 555555555555 5555
          li
            | 555555555555 5555
          li
            | 555555555555 5555
          li
            | 555555555555 5555
      .amenities--tab#amenitiesTab-6
        h3.h3 Automate Healthcare Workflows and Expand Your Reach with Digital
        p We offer software development services that help doctors distribute more personalized care to individuals and influence the lifestyle of entire communities. Oxagile has already built solutions used in practice management, patient engagement, rehabilitation, immunization, and more.
        h3.h3 Key Service Offering
        ul
          li
            | 66 66 666 666 66 66
          li
            | 66 66 666 666 66 66
          li
            | 66 66 666 666 66 66
          li
            | 66 66 666 666 66 66
          li
            | 66 66 666 666 66 66
          li
            | 66 66 666 666 66 66