section.section-4.tech#sheme
  .container
    h2.h2.__white.tech--heading(data-aos="zoom-in" data-aos-delay="50" data-aos-duration="500") Заголовок блока
    .semi
      .tech--semi(data-aos="zoom-out-right" data-aos-delay="550" data-aos-duration="500")
        h3.h3 
          | Компактная система беспроводной 
          br
          | высокоскоростной передачи данных
        section.tech--system
          .sprite.tech--system__transistor(data-aos="flip-right" data-aos-delay="1050" data-aos-duration="500")
          ul
            li Скорость до 30 Мбит/с
            li дальность до 150 км
            li технология MIMO 2х2
            li интеллектуальное кодирование 
              br
              | и криптошифрование
      .tech--semi(data-aos="zoom-out-left" data-aos-delay="1550" data-aos-duration="500")
        h3.h3 
          | Интеллектуальная система мониторинга 
          br
          | и охранына базе беспилотников
        section.tech--system
          .sprite.tech--system__atom(data-aos="flip-left" data-aos-delay="2050" data-aos-duration="500")
          ul
            li полная автономность
            li обнаружение
            li слежение
            li поражение


            



