section.top-section#top
  h1.h1.top-section--heading(data-aos="zoom-in" data-aos-delay="50" data-aos-duration="500")
    | Главное
    br
    |сообщение
  p.top-section--description(data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="550" data-aos-duration="500")
    | Using a combination of cross-domain expertise as well as machine- and deep-learning skills, Oxagile applies computer vision to offer innovative solutions and crack complex business cases. 
  a(href="#form" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="1050" data-aos-duration="500").btn.jsAncor Написать нам