section.section-3.how#work
  .container
    h2.h2.how--heading(data-aos="zoom-in" data-aos-delay="50" data-aos-duration="500") Как мы работаем
    .how--list(data-aos="fade-right" data-aos-delay="50" data-aos-duration="500")
      .how--list--item
        .sprite.how--list--item__h-1
        p 
          | Ваша идея или 
          br
          | задача
      .sprite.how--list--arrow(data-aos="fade-right" data-aos-delay="550" data-aos-duration="500")
      .how--list--item(data-aos="fade-right" data-aos-delay="750" data-aos-duration="500")
        .sprite.how--list--item__h-2
        p 
          | Поиск оптимальных
          br
          | путей решения 
      .sprite.how--list--arrow(data-aos="fade-right" data-aos-delay="1350" data-aos-duration="500")
      .how--list--item(data-aos="fade-right" data-aos-delay="1550" data-aos-duration="500")
        .sprite.how--list--item__h-3
        p 
          | Реализация 
          br
          | Вашей идеи или 
          br
          | задачи
      .sprite.how--list--arrow(data-aos="fade-right" data-aos-delay="2050" data-aos-duration="500")
      .how--list--item(data-aos="fade-right" data-aos-delay="2250" data-aos-duration="500")
        .sprite.how--list--item__h-4
        p 
          | Ваша идея или 
          br
          | задача
      .sprite.how--list--arrow(data-aos="fade-right" data-aos-delay="2750" data-aos-duration="500")
      .how--list--item(data-aos="fade-right" data-aos-delay="2950" data-aos-duration="500")
        .sprite.how--list--item__h-5
        p 
          | Ваша идея или 
          br
          | задача
    section.semi
      section.how--semi(data-aos="fade-up" data-aos-delay="1550" data-aos-duration="500")
        .how--semi--heading Waterfall Software Development Model
        p The waterfall model was one of the first project management methodologies that came into being. Originating in manufacturing and construction, the model also inherited the highly structured approach and rigidity of these industries.
        ul.how--semi--list
          li Virtual and Augmented Reality solutions
          li Patient engagement solutions
          li EHR and EMR systems
      section.how--semi(data-aos="fade-up" data-aos-delay="2050" data-aos-duration="500")
        .how--semi--heading Waterfall Software Development Model
        p The waterfall model was one of the first project management methodologies that came into being. Originating in manufacturing and construction, the model also inherited the highly structured approach and rigidity of these industries.
        ul.how--semi--list
          li Virtual and Augmented Reality solutions
          li Patient engagement solutions
          li EHR and EMR systems