.challenges
  height 56.4rem
  background url(../img/banner-3.jpg) center no-repeat
  background-size cover
  display flex
  flex-direction: column
  justify-content center
  align-items center

  &--heading
    font-size 4.3rem
    width 65.5rem

  hr
    width 18rem
    height 0.2rem
    background-color $white

  &--description
    width 64.5rem
    color $white
    font-family $lightFont
    font-size 2rem
    font-weight 300
    text-align center
    margin-top 2rem