.team
  background-color $lightgray
  padding 3rem

  &--container
    display flex
    flex-wrap: wrap
    justify-content center
    max-width 120rem
    margin 0 auto

    h2
      width 100%
      padding-bottom 1rem

  &--heading
    width 100%

  &--item
    width 36rem
    background $white
    padding 2rem
    margin 1.5rem 1.75rem

  &--heading
    color $lightblue
    font-family $lightFont
    font-size 1.8rem
    font-weight 300
    text-transform uppercase
    text-align center
    padding 1rem
  
  &--description
    color $darkgray
    font-family $lightFont
    font-size 1.6rem
    font-weight 300
    text-align center

.partners
  padding 3rem
  padding-bottom 0

  img 
    margin-top -2.3rem