.top-section
  position relative
  width 100%
  height 62.8rem
  background url(../img/section-1.jpg) center no-repeat
  background-size cover
  display flex
  justify-content center
  align-items center
  flex-direction: column

  &--heading
    position relative
    top 2rem

  &--description
    color $white
    font-family $lightFont
    font-size 2.1rem
    max-width 53.1rem
    margin 0 auto
    text-align center
    margin-top 6.4rem
    margin-bottom 5.6rem
    line-height: 1.3
    top: -1rem
    position: relative