@font-face {
    font-family: 'Intro';
    src: 
        local('../fonts/intro/intro'), 
        url('../fonts/intro/intro.woff') format('woff'), 
        url('../fonts/intro/intro.otf') format('otf'), 
        url('../fonts/intro/intro.eot') format('eot'), 
        url('../fonts/intro/intro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: 
        local('../fonts/Roboto/Roboto-Regular'), 
        url('../fonts/Roboto/Roboto-Regular.woff') format('woff'), 
        url('../fonts/Roboto/Roboto-Regular.otf') format('otf'), 
        url('../fonts/Roboto/Roboto-Regular.eot') format('eot'), 
        url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: 
        local('../fonts/Roboto/Roboto-Light'), 
        url('../fonts/Roboto/Roboto-Light.woff') format('woff'), 
        url('../fonts/Roboto/Roboto-Light.otf') format('otf'), 
        url('../fonts/Roboto/Roboto-Light.eot') format('eot'), 
        url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}