// Paths
$pathToImg = "../img/"
$pathToDevImg = "../../src/img/"
$pathToFonts = "../../src/fonts/"

// Fonts
$reserveFonts = sans-serif;
$mainFont = 'Roboto-Regular', $reserveFonts;
$lightFont = 'Roboto-Light', $reserveFonts;
$intro = 'Intro', $reserveFonts;

// Sizes
$widthContent = 114rem
$heightHeader = 0
$heightFooter = 10.2rem
$gridHeight = "calc( 100vh - %s - %s )" % ($heightHeader $heightFooter)

// Colors
$gray = #9c9c9c
$lightblue = #599bd5
$lightblueSemi = #599bd550
$white = #ffffff
$blue = #3574ab
$lightgray = #eeeeee
$darkblue = #164874
$black = #262626
$gray = #a0a0a0
$dark = #393939
$darkgray = #535353

// Animation
$fast = .3s ease-in-out all
$middle = .5s ease-in-out all